@{
    ViewData["Title"] = "Home Page";
}
@model Survey

<div class="form">
    <form asp-action="process" asp-controller="Home" method="post">
        <div>
            <label asp-for="Name" class="form-label">Your Name: </label>
            <input asp-for="Name" />
            <span asp-validation-for="Name" style="color: red;"></span>
        </div>
        <div>
            <label asp-for="Location" class="form-label"> Dojo Location: </label>
            <select asp-for="Location">
                <option value="">Select a City</option>
                <option value="San Jose">San Jose</option>
                <option value="Seattle">Seattle</option>
                <option value="Chicago">Chicago</option>
                <option value="Colorado">Colorado</option>
            </select>
            <span asp-validation-for="Location" style="color: red;"></span>
        </div>
        <div>
            <label asp-for="Language" class="form-label">Favorite Language:</label>
            <select asp-for="Language">
                <option value="">Select a Language</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Java">Java</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
            </select>
            <span asp-validation-for="Language" style="color: red;"></span>
        </div>
        <div>
            <label asp-for="Comment" class="form-label">Comment (Optional):</label> <br>
            <textarea asp-for="Comment" cols="50" rows="10"></textarea><br>
            <span asp-validation-for="Comment" style="color: red;"></span>
        </div>
        <input type="submit" value="Submit" />
    </form>
</div>
