<div>
    <h1>Success @Context.Session.GetString("UserName")</h1>
    @* <form asp-action="logout" asp-controller="Home" method="post">
        <button class="btn-outline-warning">LogOut</button>
    </form> *@
</div>