@model Survey

<div>
    <h1 style="text-decoration: underline;">Submitted Info</h1>
    <p>Name: @Model.Name</p>
    <p>Dojo Location: @Model.Location</p>
    <p>Favorite Language: @Model.Language</p>
    <p>Comment (Optional): @Model.Comment</p>
    <button><a href="/">Back</a></button>
</div>