@model Dish

<form asp-action="CreateDish" asp-controller="Dish" method="post">         
    <div class="mb-3">        
        <label asp-for="Name">Name of Dish:</label>        
        <input asp-for="Name" class="form-control"><br>        
        <span asp-validation-for="Name" class="text-danger"></span>    
    </div>    
    <div class="mb-3">        
        <label asp-for="NumOfCalories">Number of Calories:</label>        
        <input asp-for="NumOfCalories" class="form-control"><br>        
        <span asp-validation-for="NumOfCalories" class="text-danger"></span>    
    </div>   
    <div class="mb-3">        
        <label asp-for="ChefId">Chef's Name:</label> 
        <select asp-for="ChefId">
                <option value="">Please Select a Chef</option>
            @{
                foreach(var c in ViewBag.ChefName)
                {
                    <option value="@c.ChefId">@c.FirstName @c.LastName</option>
                }
            }
            <span>@ViewBag.Error</span>
        </select>           
        <span asp-validation-for="ChefId" class="text-danger"></span>    
    </div>
    <div class="mb-3">        
        <label asp-for="Tastiness">Tastiness:</label>
        <select asp-for="Tastiness">
            <option value="">Please select</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>       
        <span asp-validation-for="Tastiness" class="text-danger"></span>    
    </div>          
    <input type="submit" value="Add Dish">
</form>