<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Projects</title>
</head>

<body>
    <nav>
        <a href="/" id="home-link" class="nav-link">Home</a> | <a href="/projects" id="projects-link" class="nav-link">Projects</a> | <a href="/contact"
            id="contact-link" class="nav-link">Contact</a>
    </nav>
    <h1>My Projects</h1>
    <div class="container">
        <div class="display projectDisplay">
            <img src="~/images/forced.smile.gif" alt="force-smile-gif">
            <div>
                <h3>Project 1</h3>
                <p>How to force a smile</p>
            </div>
        </div>
        <div class="display projectDisplay">
            <img src="~/images/sawako-scary-smile.gif" alt="sawako-scary-smile-gif">
            <div>
                <h3>Project 2</h3>
                <p>How to smile creepily</p>
            </div>
        </div>
        <div class="display projectDisplay">
            <img src="~/images/anime-girl-smile.gif" alt="sweet-anime-girl-smile-gif">
            <div>
                <h3>Project 3</h3>
                <p>How to smile naturally</p>
            </div>
        </div>
    </div>
    <script src="~/JS/script.js"></script>

</body>

</html>